@import url("./margin.css");
@import url("./padding.css");
@import url("./font.css");

.ant-layout-sider-children {
  background-color: #245953 !important;
}

.ant-menu {
  background-color: #245953 !important;
}

.ant-menu-item-selected {
  background-color: #408e91 !important;
  border: 2px solid #e49393;
  border-radius: 30px !important;
}

.ant-layout {
  height: 100vh;
}

.tolfa-menu-logo {
  padding: 10px;
  letter-spacing: 4px;
  font-size: 40px;
  color: #e49393;
  font-weight: 600;
  text-shadow: -2px 1px #fff, -2px 1px #fff, -2px -1px #fff, 2px -2px #fff,
    2px 1px #fff, -2px -2px #fff, -1px 1px #fff, 1px -2px #fff;
}

.cs-dis-flex {
  display: flex;
}

.cs-hrz-center {
  justify-content: center;
}

.cs-vt-center {
  align-items: center;
}

.cs-menu-icon {
  width: 25px;
  height: 25px;
}

.cs-pointer {
  cursor: pointer;
}

.cs-vh-100 {
  height: 100vh;
}

.cs-vh-fit {
  height: calc(100vh - 150px);
}

.cs-scroll {
  overflow: scroll;
}

.cs-theme-card {
  background-color: #e49393 !important;
}

.cs-float-right {
  float: right;
}

.cs-jc-end {
  justify-content: end;
}

.cs-jc-sb {
  justify-content: space-between;
}

.cs-theme-button {
  background-color: #245953 !important;
  color: #fff;
}

.cs-theme-button.ant-btn-default:not(:disabled):hover {
  color: #fff !important;
  border-color: #408e91 !important;
}

.ant-btn-default {
  border: none;
}

.ant-btn-primary {
  background-color: #245953 !important;
}

.admission-table-profile-image {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50%;
}

.custom-image-uploader {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}

.cs-show-image {
  width: 100%;
  height: auto;
}

.divider {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 12px 0;
  height: 1px;
  background-color: #3999;
}

.cs-w-100 {
  width: 100%;
}

.color-box {
  margin: 2px;
  width: 20px;
  aspect-ratio: 1/1;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.cs-h-100vh {
  height: calc(100vh - 430px);
}

.cs-h-100 {
  height: 100vh;
}

.cs-login-title {
  color: #408e91;
  font-weight: 800;
}
