.cs-lm-10 {
  margin-left: 10px;
}

.cs-rm-10 {
  margin-right: 10px;
}

.cs-tm-10 {
  margin-top: 10px;
}

.cs-tm-5 {
  margin-top: 5px;
}

.cs-tm-20 {
  margin-top: 20px;
}

.cs-tm-15 {
  margin-top: 15px;
}

.cs-m-10 {
  margin: 10px;
}

.cs-tm-20 {
  margin-top: 20px;
}
