.cs-card {
  border: 1px solid #ccc; /* Border color and width */
  border-radius: 8px; /* Border radius for rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  padding-bottom: 16px; /* Padding inside the card */
  background-color: #fff; /* Background color of the card */
}

/* CSS for product card image */
.cs-product-card-image {
  width: 100%; /* Ensure the image spans the full width of its container */
  height: 200px; /* Set a fixed height for consistency; adjust as needed */
  object-fit: cover; /* Crop and scale the image to fit the container */
  object-position: center; /* Center the image within the container */
  border: 1px solid #ccc; /* Optional: Add a border for visual separation */
}

.cs-product-card-mrp {
  text-decoration: line-through;
  font-style: oblique;
}

.cs-product-card-sell-price {
  font-style: oblique;
}

.cs-productdata-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Number of lines to display before truncating */
  height: 72px; /* Maximum height */
  overflow: hidden;
  line-height: 24px; /* Line height for 3 lines (adjust as needed) */
}
